<app-header *ngIf="noLogin"></app-header>
<app-admin-dashboard *ngIf="isAdmin"></app-admin-dashboard>
<app-user-dashboard *ngIf="isUser"></app-user-dashboard>

<div class="container col-7">

        <div  class="tab-content ng-star-inserted" id="project-tab-content"><div _ngcontent-vgx-c6="" class="project-info scrolly" id="1488"><div _ngcontent-vgx-c6="" class="project-name">Medicare</div><!----><div _ngcontent-vgx-c6="" class="project-count ng-star-inserted"><p _ngcontent-vgx-c6=""> Project 1 <a _ngcontent-vgx-c6="" appfocushide="" aria-label="Project info" class="lms-icon Gradable" data-toggle="tooltip" title="The project will be assessed by Simplilearn team."></a></p></div><!----><!----><!----><!----><!----><div _ngcontent-vgx-c6="" class="ng-star-inserted"><div _ngcontent-vgx-c6="" class="project-information"><div _ngcontent-vgx-c6="" class="project-description sl-ck-editor"><p _ngcontent-vgx-c6="">DESCRIPTION</p><div _ngcontent-vgx-c6=""><p>Create a dynamic and responsive Java e-healthcare web application for ordering medicines of different categories.</p>

    <p><strong>Background of the problem statement:</strong><br>
    Medicare is a company that supplies medicines and a couple of other healthcare essentials at an affordable price. It was established in 2012 in Delhi, India. It had been serving fine all these years, however, the business analysts noticed a decline in sales since 2017. They found out that online ordering of medicines with companies, such as 100mg and mfine are gaining more profits by eliminating middlemen from the equation. As a result, the team decided to hire a Full Stack developer to develop a healthcare web application with a rich and user-friendly interface.<br>
    You are hired as the Full Stack Java developer and are asked to develop the web application. The management team has provided you with the requirements and their business model so that you can easily arrange different components of the application.</p>
    
    <p><strong>Features of the application:</strong></p>
    
    <ol>
        <li>Registration</li>
        <li>Login</li>
        <li>Payment gateway</li>
        <li>Searching</li>
        <li>Filtering</li>
        <li>Sorting</li>
        <li>Dynamic data</li>
        <li>Responsive and compatible with different devices</li>
    </ol>
    
    <p><strong>Recommended technologies:</strong></p>
    
    <ol>
        <li>Database management: MySQL and Oracle</li>
        <li>Backend logic: Java programming, NodeJS</li>
        <li>Frontend development: JSP, Angular, Bootstrap, HTML/CSS, and Javascript</li>
        <li>Automation and testing technologies: Selenium, Jasmine (frontend testing), and TestNG</li>
        <li>DevOps and production technologies: Git, GitHub, Jenkins, Docker, Kubernetes, and AWS</li>
    </ol>
    
    <p><strong>Project development guidelines:</strong></p>
    
    <ul>
        <li>The project will be delivered within four sprints with every sprint delivering a minimal viable product.</li>
        <li>It is mandatory to perform proper sprint planning with user stories to develop all the components of the project.</li>
        <li>The learner can use any technology from the above-mentioned technologies for different layers of the project.</li>
        <li>The web application should be responsive and should fetch or send data dynamically without hardcoded values.</li>
        <li>The learner must maintain the version of the application over GitHub and every new change should be sent to the repository.</li>
        <li>The learner must implement a CI/CD pipeline using Jenkins.</li>
        <li>The learner should also deploy and host the application on an AWS EC2 instance.</li>
        <li>The learner should also implement automation testing before the application enters the CI/CD pipeline.</li>
        <li>The learner should use Git branching to do basic automation testing of the application in it separately.</li>
        <li>The learner should make a rich frontend of the application, which is user-friendly and easy for the user to navigate through the application.</li>
        <li>There will be two portals in the application, namely admin and user portal.</li>
    </ul>
    
    <p><strong>Admin Portal:</strong><br>
    The admin portal deals with all the backend data generation and product information. The admin user should be able to:</p>
    
    <ul>
        <li>Add or remove medicine details from the application to build a rich product line</li>
        <li>Edit medicine details like name, price, seller, product description, and offers to keep the product information updated with the current prices</li>
        <li>Enable or disable a medicine product</li>
    </ul>
    
    <p>&nbsp;</p>
    
    <p><strong>User Portal:</strong><br>
    It deals with the user activities. The end-user should be able to:</p>
    
    <ul>
        <li>Sign-in to the application to maintain a record of activities</li>
        <li>Search for products based on the search keyword</li>
        <li>Apply filters and sort results based on different cuisines to get the best deals</li>
        <li>Add all the selected food items to the cart and customize the purchase at the end</li>
        <li>Perform a seamless payment gateway</li>
        <li>Get an order summary details page once the payment is complete</li>
    </ul>
        </div></div></div><!----><footer _ngcontent-vgx-c10="" class="projects-footer"><div _ngcontent-vgx-c10="" class="footer-div" role="button"></div></footer><div _ngcontent-vgx-c10=""><!----></div></div></div></div>


</div>