<div class="container">
    <h3 style="font-weight: lighter;padding-top: 0.5em;"><a routerLink=""><img src="https://raw.githubusercontent.com/saurabhkawatra/staticfilesforangular/main/medicare-logo.png" style="width: 100px;" alt='image not found'></a>Medicare&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/about" mat-button color="primary">About</a>&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/" mat-button color="primary">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a *ngIf="user.authority=='ROLE_Admin'" mat-button color="primary" routerLink="/admin/manageProducts">ManageProducts</a>
        <a *ngIf="user.authority=='ROLE_Admin'" mat-button color="primary" routerLink="/admin/manageUsers">ManageUsers</a>
    &nbsp;<a routerLink="/user/home" mat-button color="primary">ViewProducts</a>

    <ng-template [ngIf]="user.authority=='ROLE_User'">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ng-template>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            <a routerLink="/user/checkout" (mouseenter)="cartMouseEnter()" mat-button matBadge="{{user.cart.itemsInCart.length}}" matBadgeColor="warn" color="primary"><img src="https://raw.githubusercontent.com/saurabhkawatra/staticfilesforangular/main/cart-icon.png" style="width:40px;height:40px;" ></a>

            <button mat-button [matMenuTriggerFor]="menu" mat-button color="primary">
                <img [src]="user.profilePicture?'data:image/png;base64,'+user.profilePicture:'https://toppng.com/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png'" style="width:25px;height:25px;">
                &nbsp;
                {{user.firstName}} {{user.lastName}}&#x25BC;
            </button>

            <mat-menu #menu="matMenu">
                <!-- <a routerLink="/user/profile" mat-menu-item>Profile &nbsp;&nbsp;&nbsp;<img src="assets/Basic Images/profileicon.png" style="width:20px;height:20px;" ></a> -->
                <a routerLink="/user/updateProfilePicture" mat-menu-item style="height: 50px;line-height: 20px;"><table><tr><td>Update Profile <br>Picture</td><td>&nbsp;&nbsp;&nbsp;<img src="https://toppng.com/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png" style="width:25px;height:25px;"></td></tr></table></a>
                <a routerLink="/user/purchaseHistory" mat-menu-item style="height: 50px;line-height: 20px;"><table><tr><td>Purchase <br>History</td><td>&nbsp;&nbsp;&nbsp;<img src="https://raw.githubusercontent.com/saurabhkawatra/staticfilesforangular/main/purchase-history-icon.png" style="width:25px;height:25px;" ></td></tr></table></a>
                <button mat-menu-item (click)="logout()">Logout&nbsp;&nbsp;&nbsp;<img src="https://raw.githubusercontent.com/saurabhkawatra/staticfilesforangular/main/logout.png" style="width:20px;height:20px;" ></button>
            </mat-menu>
</h3>
            <div class="container" *ngIf="isCartVisible" style="z-index: 301;position: absolute;" (mouseenter)="cartMouseEnter()">
                <div class="row" >
                  <div class="col-4 offset-6">
                    <div cdkDrag style="cursor: move;">
                      <div #cartUpperElement style="background-color: azure; border-top-right-radius: 20px;border-top-left-radius: 20px;box-shadow: -5px 5px 15px 5px gray;">
                        <div class="row" style="font-weight: bold;">
                            <div class="col-10 text-primary" style="text-align: center;font-size: 30px;line-height: 50px;">
                                <span style="vertical-align: sub;text-shadow: 0px 0px 10px lightskyblue;text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cart</span>
                            </div>
                            <div class="col-2">
                                <button class="btn" (click)="cartMouseLeave()" style="font-size: 30px;">&#10005;</button>
                            </div>
                        </div>
                        <div class="col-12" style="height: 180px;overflow: auto;background-color: rgb(255, 255, 255);width: 100%;">
                            <div *ngIf="itemsInCart.length==0||itemsInCart.length==null" style="line-height: 150px;text-align: center;">
                                <span style="vertical-align: middle;font-size: 30px;color: rgb(148, 138, 138);">Cart is Empty!</span>
                            </div>

                            <table class="table" style="cursor: default;">
                                <thead *ngIf="itemsInCart.length!=0" style="position: sticky;top: 0;background-color: rgb(224, 222, 222);">
                                    <tr>
                                        <th>No.</th>
                                        <th></th>
                                        <th>Item Name</th>
                                        <th>Item Quantity</th>
                                        <th>Unit Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-template ngFor let-item [ngForOf]="itemsInCart|distinctFilter" let-i="index">
                                        <tr>
                                            <td>{{i+1}}</td>
                                            <td><a href="/user/product/{{item.itemId}}"><img height="30px" width="40px" [src]="item.itemImageUrl?.split('<::||||::>')[0]"></a></td>
                                            <td style="max-width: 120px;word-wrap: break-word;"><a href="/user/product/{{item.itemId}}">{{item.itemName}}</a></td>
                                            <td><span style="font-weight: bold;">x{{getItemQuantity(item.itemId)}}</span></td>
                                            <td>&#8377; {{item.unitPrice}}</td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>

                        </div>
                        <!-- <div style="border: solid 2px;margin-top: 20px;">
                            <hr>
                        </div> -->
                      </div>
                      <div #cartLowerElement style="background-color: azure;line-height: 50px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: -5px 5px 15px 5px gray;text-align: center;z-index: 301;" [style.width.px]="cartUpperElementWidth">
                          <span style="vertical-align: middle;"><a routerLink="/user/checkout"><span style="font-size: 30px;">Checkout</span></a><span *ngIf="totalCost!=0" style="font-size: 20px;">&nbsp;( &#8377; {{totalCost}})</span></span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

</div>
<hr size="30" style="color: #673ab7;">
