<app-user-dashboard></app-user-dashboard>

<div style="background-color: rgb(228, 243, 255);padding-top: 60px;">
<h1 style="text-align: center;color: gray;font-weight: bold;font-size: 40px;">All Purchases</h1>
<br>
<div class="col-3 offset-8">
    <table>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Sort By</mat-label>
                    <mat-select [(value)]="selectedSortOption">
                        <mat-option value="">None</mat-option>
                        <mat-option value="purchaseDate">Date of Purchase</mat-option>
                        <mat-option value="orderValue">Order Value</mat-option>
                        <mat-option value="id">Order Id</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Order</mat-label>
                    <mat-select [(value)]="selectedOrder">
                        <mat-option value="asc">Ascending</mat-option>
                        <mat-option value="desc">Descending</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
    </table>


    <!--<label>Sort Purchase History</label><br>
        <select class="form-select">
        <option value="">Select</option>
        <option value="xyz">xyz</option>
        <option value="123">123</option>
    </select> -->
</div>

<h1 *ngIf="listOfPurchases==null||listOfPurchases.length==0" class="text-danger" style="margin-top: 30px; text-align: center;">No Purchases Found<br> on your Account...</h1>

    <div class="container" style="padding: 30px;">
        <ng-template let-purchase ngFor [ngForOf]="listOfPurchases | sort:selectedSortOption:selectedOrder" let-i="index">
            <div class="col-8 offset-2">
                <div style="margin: 15px;">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <h1 class="text-secondary" style="margin-top: 20px;font-size: 15px;font-weight: bold;">Order Id - {{purchase.id}} || Order Date - {{purchase.purchaseDate|date:'EEE MMMM d, y h:mm:ss a'}}</h1>
                        </mat-expansion-panel-header>

                        <table class="table table-bordered" style="box-shadow: 0px 0px 10px 4px gray;margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center;font-size: 17px;color: rgb(105, 105, 105);">Order Id</th>
                                    <td><b>{{purchase.id}}</b></td>
                                </tr>
                                <tr>
                                    <th colspan="2" style="text-align: center;font-size: 17px;color: rgb(105, 105, 105);">Order Date</th>
                                    <td><b>{{purchase.purchaseDate | date:'dd-MM-yyyy'}}</b></td>
                                    <th colspan="2" style="text-align: center;font-size: 17px;color: rgb(105, 105, 105);">Order Time</th>
                                    <td><b>{{purchase.purchaseDate | date:'hh:mm:ss aa'}}</b></td>
                                </tr>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Item Image</th>
                                    <th>Item Company</th>
                                    <th>Item Category</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Unit Price * Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of purchase.itemForPurchaseHistoryList|distnctParaFilter:'itemId'">
                                    <td style="max-width: 120px;word-wrap: break-word;">{{item.itemName}}</td>
                                    <td><img [src]="item.itemImageUrl" width="70vh" height="50vw"></td>
                                    <td style="max-width: 120px;word-wrap: break-word;">{{item.itemCompany}}</td>
                                    <td style="max-width: 120px;word-wrap: break-word;">{{item.itemCategory}}</td>
                                    <td>{{getDuplicateItemQuantity(item.itemId,i)}}</td>
                                    <td>&#8377; {{item.unitPrice}}</td>
                                    <td>&#8377; {{getDuplicateItemQuantity(item.itemId,i)*item.unitPrice}}</td>
                                </tr>
                                <tr style="border-top: black dotted 2px;">
                                    <th colspan="6" style="text-align: center;font-size: 25px;">Total Amount Paid</th>
                                    <td style="font-size: 20px;font-weight: bold;background-color: rgb(211, 207, 207);max-width: 150px;word-wrap: break-word;">&#8377; {{getTotalCost(i)}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </mat-expansion-panel>
                </div>
            </div>
        </ng-template>
    </div>


</div>
