<app-admin-dashboard></app-admin-dashboard>

<div class="container">

    <h1 style="font-size: 50px;margin-top: 1.5em;margin-bottom: 1.5em;">Available Products</h1>
        <div style="left:10%;top:30%;" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                    <div class="modal-body" >
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                    </div>
            </div>
        </div>
         <button hidden #togglebtn type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch demo modal
        </button> 
    <mat-progress-spinner hidden mode="indeterminate" data-backdrop="static" style="z-index:999;left:50%;top:50%;position: absolute;"></mat-progress-spinner>
                
            <div class="container" style="font-size: 1.5em;text-align: right;">
                <div  class="row">
                    <div class="col" align="right" style="padding: 1.5rem;padding-top: 0.5rem;font-weight: bold;">
                        <p>Filter Items based on category</p>
                        <select [(ngModel)]="filterCriterea"  style="width:20%;" class="form-select">
                            <option value="">None</option>
                            <option *ngFor="let item of itemList | distinctFilter |sort :'itemCategory':'asc'" [value]="item.itemCategory">{{item.itemCategory}}</option>
                        </select>        
                    </div>    
                </div>
            </div>
    <table class="table table-bordered">
        <thead class="sticky-top bg-light" style="vertical-align: middle;text-align: center;font-weight: bold;">
            <td (click)="sortingClick('itemId')"><span class="btn"><span style="color:black" *ngIf="cfitid=='blue'&&inputSortOrder=='asc'">&#9650;</span><span style="color:black" *ngIf="cfitid=='blue'&&inputSortOrder=='des'">&#x25BC;</span><span [style.color]="cfitid">Id</span><br><span style="font-size: 1.5rem;">&#8593;&#8595;</span></span></td>
            <td></td>
            <td (click)="sortingClick('itemName')"><span class="btn"><span style="color:black" *ngIf="cfitname=='blue'&&inputSortOrder=='asc'">&#9650;</span><span style="color:black" *ngIf="cfitname=='blue'&&inputSortOrder=='des'">&#x25BC;</span><span [style.color]="cfitname">Item Name</span><br><span style="font-size: 1.5rem;">&#8593;&#8595;</span></span></td>
            <td (click)="sortingClick('itemCompany')"><span class="btn"><span style="color:black" *ngIf="cfitcompany=='blue'&&inputSortOrder=='asc'">&#9650;</span><span style="color:black" *ngIf="cfitcompany=='blue'&&inputSortOrder=='des'">&#x25BC;</span><span [style.color]="cfitcompany">Item Company</span><br><span style="font-size: 1.5rem;">&#8593;&#8595;</span></span></td>
            <td (click)="sortingClick('itemCategory')"><span class="btn"><span style="color:black" *ngIf="cfitcategory=='blue'&&inputSortOrder=='asc'">&#9650;</span><span style="color:black" *ngIf="cfitcategory=='blue'&&inputSortOrder=='des'">&#x25BC;</span><span [style.color]="cfitcategory">Item Category</span><br><span style="font-size: 1.5rem;">&#8593;&#8595;</span></span></td>
            <td (click)="sortingClick('itemQuantity')"><span class="btn"><span style="color:black" *ngIf="cfqa=='blue'&&inputSortOrder=='asc'">&#9650;</span><span style="color:black" *ngIf="cfqa=='blue'&&inputSortOrder=='des'">&#x25BC;</span><span [style.color]="cfqa">Quantity Available</span><br><span style="font-size: 1.5rem;">&#8593;&#8595;</span></span></td>
            <td (click)="sortingClick('unitPrice')"><span class="btn"><span style="color:black" *ngIf="cfup=='blue'&&inputSortOrder=='asc'">&#9650;</span><span style="color:black" *ngIf="cfup=='blue'&&inputSortOrder=='des'">&#x25BC;</span><span [style.color]="cfup">Unit Price</span><br><span style="font-size: 1.5rem;">&#8593;&#8595;</span></span></td>
            <td (click)="sortingClick('itemStatus')"><span class="btn"><span style="color:black" *ngIf="cfas=='blue'&&inputSortOrder=='asc'">&#9650;</span><span style="color:black" *ngIf="cfas=='blue'&&inputSortOrder=='des'">&#x25BC;</span><span [style.color]="cfas">Active Status</span><br><span style="font-size: 1.5rem;">&#8593;&#8595;</span></span></td>
            <td>Edit</td>
        </thead>

        <tbody style="vertical-align: middle;text-align: center;">
            <tr *ngFor="let i of itemList|filter :filterCriterea|sort : inputSortCriterea : inputSortOrder;let x=index;">
                <td>{{i.itemId}}</td>
                <td><img src="{{i.itemImageUrl}}" style="width:200px;height: 100px;"></td>
                <td>{{i.itemName}}</td>
                <td>{{i.itemCompany}}</td>
                <td>{{i.itemCategory}}</td>
                <td>{{i.itemQuantity}}</td>
                <td>{{i.unitPrice}}</td>
                <td>
                    <div class="form-check form-switch">
                        <input (click)="itemStatusChange(i.itemId,i.itemStatus,x)" style="font-size: 20px;margin:0px;" class="form-check-input" type="checkbox" role="switch" [checked]="statusCheck(i.itemStatus)">
                      </div>
                </td>
                     <!-- <td><button class="btn btn-outline-primary">Edit</button></td>  -->
                    <td><a [routerLink]="['/admin/edit/',i.itemId]"><img src="https://raw.githubusercontent.com/saurabhkawatra/staticfilesforangular/main/edit.png" style="width: 30px;height:30px;"></a></td>
            </tr>
        </tbody>
    </table>
</div>
<br>


<!-- <div class="col-6 offset-2">
        <table class="table table-borderless">
            <tbody style="vertical-align: middle;text-align: center;" #itstbody ngModel>
                <ng-template ngFor let-item [ngForOf]="itemList" let-i="index"><div></div>
                        <ng-template [ngIf]="i%3==0">
                            <tr>
                                <ng-template [ngIf]="itemList[i]!=null">
                                    <td><app-card mycustomurl="{{itemList[i].itemImageUrl}}" subtext="{{itemList[i].itemName}}" ></app-card><button class="btn btn-primary" (click)="testing(i)">CheckConsoleForOP</button></td>
                                </ng-template>
                                <ng-template [ngIf]="itemList[i+1]!=null">    
                                    <td><app-card mycustomurl="{{itemList[i+1].itemImageUrl}}" subtext="{{itemList[i+1].itemName}}" ></app-card><button class="btn btn-primary" (click)="testing(i+1)">CheckConsoleForOP</button></td>
                                </ng-template>
                                <ng-template [ngIf]="itemList[i+2]!=null">    
                                    <td><app-card mycustomurl="{{itemList[i+2].itemImageUrl}}" subtext="{{itemList[i+2].itemName}}" ></app-card><button class="btn btn-primary" (click)="testing(i+2)">CheckConsoleForOP</button></td>
                                </ng-template>
                            </tr>
                        </ng-template>
                </ng-template>
            </tbody>
        </table>
</div>      -->